if SHIELD_CIRRUS40LEFT

config ZMK_KEYBOARD_NAME
  default "cirrus40"

config ZMK_SPLIT_ROLE_CENTRAL
  default y

endif

if SHIELD_CIRRUS40LEFT || SHIELD_CIRRUS40RIGHT

config ZMK_SPLIT
    default y

endif
